mixin articles(image, title, paragraph1,paragraph2, link, button)
    .main-container 
        .image-container 
            img(src="" + image)
        article.text-container 
            h1=title 
            p=paragraph1
            br
            br
            p=paragraph2
        a(href="/HTML/components/"+link) 
            .read-more-button= button
mixin articles2(image, title, paragraph1, paragraph2, paragraph3, link, button)
    .main-container 
        .image-container 
            img(src="" + image)
        article.text-container 
            h1=title 
            p=paragraph1
            br
            br
            p=paragraph2
            br
            br
            p=paragraph3
        a(href="/HTML/components/"+link) 
            .read-more-button= button